page{
	background-color: #F7F7F7;
}
.committ{
	width: 700rpx;
	margin:25rpx;
	background-color: white;
	border-radius: 20rpx;
}


.headers{
	width: 70rpx;
	height: 70rpx;
	border-radius: 50%;
	background-color: #777777;
}
.bottomview{
	width: 750rpx;
	height: 150rpx;
	background-image:url(/static/fendii.png) ;
	background-size: 100% 100%;
	position: fixed;
	bottom: 0rpx;
	left: 0rpx;
	z-index: 1000;
}