page{
	background-color: #f5f5f5;
}
.topview{
	position: fixed;
	top: 0rpx;
}

/* 胶囊按钮哪一行 */
.topviewbutton {
	width: 750rpx;
	position: absolute;
	z-index: 999;
}
.headers{
	width: 120rpx;
	height: 120rpx;
	background-color: red;
	border: 3px solid white;
	border-radius: 50%;
}
.rilivie{
	width: 700rpx;
	background-color: white;
	border-radius: 20rpx;
	z-index: 1000;
	position: absolute;
	left: 25rpx;
	bottom: 0rpx;
	height: 760rpx;
}
.months{
	background-color: #FCE1E1;
	border-radius: 100rpx;
	font-size: 30rpx;
	line-height: 45rpx;
}
.dayviewno{
	background-color: #f5f5f5;
	border-radius: 100rpx;
	padding:0rpx 25rpx;
	line-height: 50rpx;
	font-weight: bold;
	color: #000000;
	text-align: center;
	margin-right: 5rpx;
	margin-left: 10rpx;
	margin-bottom: 20rpx;
}
.dayviewno1{
	background-color:#FCE1E1;
	border-radius: 100rpx;
	padding:0rpx 25rpx;
	line-height: 50rpx;
	font-weight: bold;
	color:#FE236C;
	text-align: center;
	margin-right: 5rpx;
	margin-left: 10rpx;
	margin-bottom: 20rpx;
}
.line112{
	width: 50rpx;
	height: 10rpx;
	background-color: #FF6883;
	border-radius: 100rpx;
}