.line112{
	width: 50rpx;
	height: 10rpx;
	background-color: #FF6883;
	border-radius: 100rpx;
}
.tias{
	width: 500rpx;
	height: 100rpx;
	background-color: #f5f5f5;
	line-height: 70rpx;
	border-radius: 20rpx;
}