page{
	background-color: #f5f5f5;
}
.bottomview{
	width: 750rpx;
	height: 150rpx;
	background-image:url(/static/fendii.png) ;
	background-size: 100% 100%;
	position: fixed;
	bottom: 0rpx;
	left: 0rpx;
	z-index: 1000;
}
.goodview{
	width: 700rpx;
	padding:20rpx;
	background-color: white;
	border-radius: 10rpx;
	margin:25rpx 25rpx 0rpx 25rpx;
}
.goodimg{
	width: 150rpx;
	height: 150rpx;
	margin-right: 20rpx;
}
.inputview{
	background-color: #FFEEEE;
	padding:0rpx 10rpx;
	margin:0rpx 10rpx;
}
.jifen{
	color: white;
	width: 40rpx;
	font-size: 30rpx;
	text-align: center;
	line-height:40rpx;
	background-color: red;
	border-radius: 50%;
}